

/* Estilos para la sección "Catálogo" */
.search-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;

  h1 {
    @include background-semi-transparent();
    padding: 10px;
  }

  input {
    @include background-semi-transparent();
    padding: 10px;
    border: 1px solid $border-color;
    margin-right: 10px;
    margin-top: 30px;
  }
}

/* Productos del Catálogo */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;

  .product-item {
    @include background-semi-transparent();
    padding: 20px;
    text-align: center;
    border: 1px solid $border-color;

    img {
      width: 100%;
      height: auto;
      @include border-radius();
    }

    .product-details {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        margin: 0;
        font-weight: bold;
      }

      input {
        width: 50px;
        text-align: center;
      }
    }
  }
}

/* Botón de "mostrar más" */
.load-more {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    @include button-style;
  }
}
