
// _variables.scss
$navbar-bg-color: transparent;
$navbar-text-color: white;
$navbar-font-size: 1.5rem;
$nav-link-font-size: 1.2rem;
$nav-item-margin: 10px;
$nav-link-padding: 10px;



// _variables.scss
$footer-bg-color: #f8f8f8;
$footer-text-color: #555;
$footer-text-hover-color: #136131;
$footer-font-size: 20px;
$footer-padding: 20px 0;
$footer-margin: 10px 0;
