// por ahora van aca, no se si deben ponerse en typografias u otro archivo



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    font-family: 'Imbue', sans-serif;
    margin: 0;
    padding: 0;
}